In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("D:\labs\TSA\Patient_Satisfaction_Survey_Data.csv")
df.head()

   Observation  x1  x2   y
0            1  55  50  68
1            2  46  24  77
2            3  30  46  96
3            4  35  48  80
4            5  59  58  43

In [4]:
X = df[['x1', 'x2']].values
y = df['y'].values

In [10]:
X = np.column_stack((X, np.ones(len(X))))
X

array([[55., 50.,  1.,  1.],
       [46., 24.,  1.,  1.],
       [30., 46.,  1.,  1.],
       [35., 48.,  1.,  1.],
       [59., 58.,  1.,  1.],
       [61., 60.,  1.,  1.],
       [74., 65.,  1.,  1.],
       [38., 42.,  1.,  1.],
       [27., 42.,  1.,  1.],
       [51., 50.,  1.,  1.],
       [53., 38.,  1.,  1.],
       [41., 30.,  1.,  1.],
       [37., 31.,  1.,  1.],
       [24., 34.,  1.,  1.],
       [42., 30.,  1.,  1.],
       [50., 48.,  1.,  1.],
       [58., 61.,  1.,  1.],
       [60., 71.,  1.,  1.],
       [62., 62.,  1.,  1.],
       [68., 38.,  1.,  1.],
       [70., 41.,  1.,  1.],
       [79., 66.,  1.,  1.],
       [63., 31.,  1.,  1.],
       [39., 42.,  1.,  1.],
       [49., 40.,  1.,  1.]])

In [6]:
# Calculate the coefficients using the normal equation
X_transpose_X = np.dot(X.T, X)
X_transpose_y = np.dot(X.T, y)

In [11]:
X_transpose_X

array([[6.9881e+04, 6.0814e+04, 1.2710e+03],
       [6.0814e+04, 5.6790e+04, 1.1480e+03],
       [1.2710e+03, 1.1480e+03, 2.5000e+01]])

In [12]:
X_transpose_y

array([76487., 70426.,  1638.])

In [8]:
coefficients = np.linalg.inv(X_transpose_X).dot(X_transpose_y)
coefficients

array([ -1.03105341,  -0.55603781, 143.47201181])

In [9]:
equation = f'ŷ = {coefficients[2]:.3f} + {coefficients[0]:.3f}x1 + {coefficients[1]:.3f}x2'
print('Regression Equation:', equation)

Regression Equation: ŷ = 143.472 + -1.031x1 + -0.556x2