In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("D:\labs\data_set\suplier.csv")
df

    Supplier  Amount($)
0          1          9
1          2          8
2          3          9
3          4         12
4          5          9
5          6         12
6          7         11
7          8          7
8          9         13
9         10          9
10        11         11
11        12         10

In [3]:
actual_values = df['Amount($)']

In [4]:
mean_predicted_value = actual_values.mean()
mean_predicted_value

10.0

In [5]:
predicted_values = [mean_predicted_value] * len(actual_values)
predicted_values

[10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0]

In [6]:
mse = ((actual_values - predicted_values) ** 2).mean()
sse = ((actual_values - predicted_values) ** 2).sum()

In [7]:
print("Mean Squared Error (MSE):", mse)
print("Sum of Squared Errors (SSE):", sse)

Mean Squared Error (MSE): 3.0
Sum of Squared Errors (SSE): 36.0

In [8]:
weighted_mean = (1/3)*mean_predicted_value
weighted_mean

3.333333333333333

In [9]:
predicted_values = [weighted_mean] * len(actual_values)

mse = ((actual_values - predicted_values) ** 2).mean()
sse = ((actual_values - predicted_values) ** 2).sum()

print("Weighted Mean Squared Error (MSE):", mse)
print("Weighted Sum of Squared Errors (SSE):", sse)

Weighted Mean Squared Error (MSE): 47.44444444444446
Weighted Sum of Squared Errors (SSE): 569.3333333333335

* moving avg. 3

In [10]:
def moving_average(data, window_size):
    return data.rolling(window=window_size).mean()

In [11]:
def calculate_mse_sse(actual_values, predicted_values):
    mse = ((actual_values - predicted_values) ** 2).mean()
    sse = ((actual_values - predicted_values) ** 2).sum()
    return mse, sse

In [12]:
window_size = 3

In [13]:
df['Moving_Avg3'] = moving_average(df['Amount($)'], window_size)

In [14]:
df.dropna(inplace=True)

In [15]:
df

    Supplier  Amount($)  Moving_Avg3
2          3          9     8.666667
3          4         12     9.666667
4          5          9    10.000000
5          6         12    11.000000
6          7         11    10.666667
7          8          7    10.000000
8          9         13    10.333333
9         10          9     9.666667
10        11         11    11.000000
11        12         10    10.000000

In [16]:
mse, sse = calculate_mse_sse(df['Amount($)'], df['Moving_Avg3'])

print("Mean Squared Error (MSE):", mse)
print("Sum of Squared Errors (SSE):", sse)

Mean Squared Error (MSE): 2.422222222222222
Sum of Squared Errors (SSE): 24.22222222222222

In [17]:
window_size = 2

In [18]:
df['Moving_Avg2'] = moving_average(df['Amount($)'], window_size)

In [19]:
df.dropna(inplace=True)

In [20]:
mse, sse = calculate_mse_sse(df['Amount($)'], df['Moving_Avg2'])

print("Mean Squared Error (MSE):", mse)
print("Sum of Squared Errors (SSE):", sse)

Mean Squared Error (MSE): 2.8055555555555554
Sum of Squared Errors (SSE): 25.25

* centar moving avg.

In [21]:
def centered_moving_average(data, window_size):
    half_window = window_size // 2
    moving_avg = data.rolling(window=window_size).mean()
    centered_avg = moving_avg.shift(-half_window)
    return centered_avg

In [22]:
window_size = 3

In [23]:
df['Centered_Moving_Avg'] = centered_moving_average(df['Amount($)'], window_size)

In [25]:
df.dropna(inplace=True)

In [26]:
df

    Supplier  Amount($)  Moving_Avg3  Moving_Avg2  Centered_Moving_Avg
4          5          9    10.000000         10.5            11.000000
5          6         12    11.000000         10.5            10.666667
6          7         11    10.666667         11.5            10.000000
7          8          7    10.000000          9.0            10.333333
8          9         13    10.333333         10.0             9.666667
9         10          9     9.666667         11.0            11.000000
10        11         11    11.000000         10.0            10.000000

In [29]:
mse_3, sse_3 = calculate_mse_sse(df['Amount($)'], df['Centered_Moving_Avg'])
print("Mean Squared Error (MSE) for Centered Moving Average:", mse_3)
print("Sum of Squared Errors (SSE) for Centered Moving Average:", sse_3)

Mean Squared Error (MSE) for Centered Moving Average: 4.8571428571428585
Sum of Squared Errors (SSE) for Centered Moving Average: 34.00000000000001